<!-- LOGIN OVERLAY -->

<div id="login-screen" class="login-screen">


    <div class="login-box">


        <button
            class="login-close"
            onclick="fecharLogin()">
            &times;
        </button>



        <h2>

        </h2>



        <input
            id="login-email"
            type="email"
            class="form-control mb-3"
            placeholder="Email">



        <input
            id="login-senha"
            type="password"
            class="form-control mb-3"
            placeholder="Senha">



        <button
            class="btn btn-primary w-100"
            onclick="fazerLogin()">

            Entrar

        </button>



    </div>


</div>
