<div id="recibo" style="
    display:none;
    width:550px;
    padding:20px;
    font-family:Arial, sans-serif;
    color:#000;
    height:auto;
    overflow:hidden;
">


    <h1 style="
        text-align:center;
        font-size:35px;
        margin-bottom:25px;
    ">
        ProemPy Services
    </h1>


    <div style="
        text-align:center;
        font-size:15px;
        margin-bottom:40px;
    ">

        <div>
            Recibo de Venda Nº
            <span id="numero-venda"></span>
        </div>

        <div id="recibo-data"></div>

    </div>



    <hr>


    <table style="
        width:100%;
        border-collapse:collapse;
        font-size:15px;
        margin-top:20px;
        margin-bottom:15px;
    ">


        <thead>

            <tr>

                <th style="
                    text-align:left;
                    width:60%;
                    padding-bottom:15px;
                ">
                    Produto
                </th>


                <th style="
                    text-align:center;
                    width:15%;
                ">
                    Qtd
                </th>


                <th style="
                    text-align:right;
                    width:25%;
                ">
                    Valor
                </th>

            </tr>

        </thead>



        <tbody id="recibo-itens">

        </tbody>


    </table>


    <hr>



    <div style="
        margin-top:30px;
        font-size:20px;
    ">

        <p>
            Total:
            <span id="recibo-total"></span> MT
        </p>


        <p>
            Pago:
            <span id="recibo-pago"></span> MT
        </p>


        <p>
            Troco:
            <span id="recibo-troco"></span> MT
        </p>


    </div>



    <h3 style="
        text-align:center;
        margin-top:25px;
        font-size:15px;
        font-weight:normal;
    ">
        Obrigado pela preferência!
    </h3>
    <h3 style="
        text-align:center;
        margin-top:25px;
        font-size:15px;
        font-weight:normal;
    ">
        ProemPy Services Demo. Contactos: 863614176/850320411
    </h3>


</div>