<header class="topbar">

    <div class="top-left">

        <button class="menu-btn">
            <i class="bi bi-list"></i>
        </button>

    </div>

    <div class="top-right">

        <div class="date">
            <i class="bi bi-calendar3"></i>
            <span id="current-date"></span>
        </div>

        <button class="store-btn">
            <i class="bi bi-shop"></i>
            ProemPy Services
        </button>

        <div class="user-menu">

            <button
            id="login-button"
            class="user-btn">

                <i class="bi bi-person-circle"></i>

                <span>
                    Login
                </span>

            </button>

        </div>

</header>